.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  width: 100%;
  height: 100vh;
  background: #e2e9f7;
}

.side-nav {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 30px;
  text-decoration-line: none;
  font-size: 1.5rem;
}
.nav-links {
  list-style: none;
  position: relative;
  text-decoration: none;
}
.doc {
  text-align: left;
}
.nav-links li {
  padding: 10px 0;
}
.nav-links li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 14px;
}
.form-layout ul{
  list-style-type: none;
}
.logo {
  color: #1DA1F2;
}
.butt {
  background-color: #1DA1F2;
  color: white;
  padding: 15px 60px;
  border-radius: 25px;
  font-size: 1.5rem;
  border-color: #1DA1F2;
}
.butt:hover {
  background: white;
  color: #1DA1F2;
  border-color: white;
}
.edits {
  border-color: white;
}
.login ul{
  list-style: none;
}
.login li {
  padding: 10px 40px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#loginButt {
  background-color: #1DA1F2;
  color: white;
  padding: 15px 60px;
  border-radius: 25px;
  font-size: 1.5rem;
  border-color: #1DA1F2;
}
#loginButt:hover {
  background: white;
  color: #1DA1F2;
  border-color: white;
}
.login li a {
  text-decoration: none;
  color: white;
}
